  #abc{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: red;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: white;
  }


  #analytics-hero {
      width: 100%;
      height: 100%;
      background: url(../img/analytics.png);
      background-size: 100%;
      background-size: cover;
      background-position: center center;

  }



#analyticsForm {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 2px;
  /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
  box-shadow: 0 1px 0 0 #fff; 

}
#paddMeUp {
   padding: 10px 10px 10px 10px;

}
#graphingRegion {
  background: linear-gradient(270deg, #10f2f0, #79dcfe);
  border: 3px solid black
  border-radius: 3px;
  box-shadow: 2px 3px 2px 1px #a4d6e8;
}

.dataBlob {
  background: url(../img/infocard.png);
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin: 10px auto;
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  box-shadow: 2px 3px 2px 1px grey;
  color: white;
  border-radius: 3px;
  border: thin #a0d1f7 solid;
}


